---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div id="fingerprintjs" class="flex flex-col gap-6 p-12">
    <p id="visitor-id-fingerprint" class="font-bold text-xl"></p>

    <pre
      id="fingerprint-code"
      class="p-4 rounded-lg border-2 border-gray-950 bg-gray-200 overflow-hidden">
    </pre>
    <pre
      id="api-response"
      class="p-4 rounded-lg border-2 border-blue-950 bg-blue-100 overflow-hidden">
    </pre>
  </div>
</Layout>

<script is:inline>
  window.addEventListener("DOMContentLoaded", async () => {
    FingerprintJS.load()
      .then((fp) => fp.get({ extendedResult: true }))
      .then((result) => {
        const visitorId = result.visitorId;
        const requestId = result.requestId;
        document.getElementById("visitor-id-fingerprint").textContent =
          `Fingerprint id (fingerprintjs): ${visitorId}`;
        document.getElementById("fingerprint-code").textContent =
          JSON.stringify(result, null, 2);

        fetch(`/api/${requestId}`)
          .then((res) => res.json())
          .then((data) => {
            document.getElementById("api-response").textContent =
              JSON.stringify(data, null, 2);
          });
      });
  });
</script>
