---
const activePage = Astro.url.pathname;
---

<header class="flex align-center gap-12 bg-gray-800/80 p-6 text-white">
  <h1 class="font-bold">Test Fingerprint</h1>
  <nav class="flex gap-6">
    <a href="/" class={activePage === "/" ? "font-bold text-amber-300" : ""}
      ><span>Nuestro</span></a
    >
    <a
      href="/fingerprintjs"
      class={activePage === "/fingerprintjs" ? "font-bold text-amber-300" : ""}
      ><span>FingerprintJS</span></a
    >
    <a
      href="/clientjs"
      class={activePage === "/clientjs" ? "font-bold text-amber-300" : ""}
      ><span>ClientJS</span></a
    >
    <a
      href="/new-fingerprint"
      class={activePage === "/new-fingerprint"
        ? "font-bold text-amber-300"
        : ""}><span>Nuevo Fingerprint</span></a
    >
  </nav>
</header>

<style>
  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    font-weight: bold;
    color: oklch(87.9% 0.169 91.605);
  }
</style>
